// _variables.scss

$breakpoint-small: 320px;
$breakpoint-medium: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 990px;
$breakpoint-large: 1440px;
$breakpoint-extra-large: 1920px;

$padding-small: 16px;
$padding-medium: 16px;
$padding-tablet: 40px;
$padding-desktop: 48px;
$padding-large: 172px;
$padding-extra-large: 229px;
