header {
	background-color: #131212;

	background-image: url("/src/images/bacground-images/bats-img-header-320.svg"),
		url("/src/images/bacground-images/bg-header-320.svg");
	background-repeat: no-repeat;
	background-size: 100%, cover;

	background-position-y: bottom;
	background-position-x: center;

	@include medium {
		background-image: url("/src/images/bacground-images/bats-img-header-375.svg"),
			url("/src/images/bacground-images/bg-header-375.svg");

		//375
	}
	@include tablet {
		background-image: url("/src/images/bacground-images/bats-img-header-768.svg"),
			url("/src/images/bacground-images/bg-header-768.svg");

		//768
	}
	@include desktop {
		background-image: url("/src/images/bacground-images/bats-img-header-990.svg"),
			url("/src/images/bacground-images/bg-header-990.svg");
		//990
	}
	@include large {
		background-image: url("/src/images/bacground-images/bats-img-header-1440.svg"),
			url("/src/images/bacground-images/bg-header-1440.svg");
		//1440
	}
}

main {
	background-color: #131212;
	background-image: url("/src/images/bacground-images/bg-channels-1440.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

footer {
	background-color: #131212;

	background-image: url("/src/images/bacground-images/bg-img-footer-320.svg"),
		url("/src/images/bacground-images/bg-footer-320.svg");

	background-repeat: no-repeat;
	background-size: 100%, cover;
	background-position: center bottom, center;

	@include medium {
		background-image: url("/src/images/bacground-images/bg-img-footer-375.svg"),
			url("/src/images/bacground-images/bg-footer-375.svg");

		//375
	}
	@include tablet {
		background-image: url("/src/images/bacground-images/bg-img-footer-768.svg"),
			url("/src/images/bacground-images/bg-footer-768.svg");

		//768
	}
	@include desktop {
		background-image: url("/src/images/bacground-images/bg-img-footer-990.svg"),
			url("/src/images/bacground-images/bg-footer-990.svg");

		//990
	}
	@include large {
		background-image: url("/src/images/bacground-images/bg-img-footer-1440.svg"),
			url("/src/images/bacground-images/bg-footer-1440.svg");

		//1440
	}
}
