.pricing__container {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 33px;
	@include medium {
		padding-top: 16px;
		padding-bottom: 24px;
	}
	@include tablet {
		padding-top: 34px;
		padding-bottom: 50px;
	}

	@include desktop {
		padding: 48px 95px 56px 95px;
	}

	@include large {
		padding: 48px 289px 56px 289px;
	}
}

.pricing__frame {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 22px 16px 33px 16px;
	width: 100%;
	height: 100%;
	max-width: 288px;

	border-radius: 12px;

	background-image: url("/src/images/pricing-images/pricing-frame.svg");

	background-position: center bottom;
	background-repeat: no-repeat;
	@include medium {
		max-width: 343px;

		padding: 18px 24px 56px 24px;
		background-image: url("/src/images/pricing-images/pricing-frame-medium.svg");
	}
	@include tablet {
		max-width: 688px;

		padding: 25px 75px 56px 75px;
		background-image: url("/src/images/pricing-images/pricing-frame-tablet.svg");
	}

	@include desktop {
		max-width: 800px;

		padding: 45px 75px 56px 75px;

		background-image: url("/src/images/pricing-images/pricing-frame-desktop.svg");
	}

	@include large {
		max-width: 862px;

		padding: 18px 149px 64px 143px;
		background-image: url("/src/images/pricing-images/pricing-frame-large.svg");
	}
}

.pricing__image {
	width: 40px;
	height: 50px;

	margin-bottom: 21px;

	@include medium {
		width: 44px;
		height: 55px;
		margin-bottom: 20px;
	}

	@include tablet {
		width: 46px;
		height: 58px;
		margin-bottom: 30px;
	}

	@include desktop {
		width: 50px;
		height: 62px;

		margin-bottom: 40px;
	}

	@include large {
		width: 54px;
		height: 68px;

		margin-bottom: 2px;
		margin-left: 6px;
	}
}

.pricing__positioning {
	@include tablet {
		display: flex;
	}
}

.pricing__details {
	@include tablet {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 70px 0 0;
	}
}
.pricing__features {
	@include tablet {
		padding-left: 42px;
	}
}

.pricing__details,
.pricing__features {
	@include tablet {
		width: 50%;
	}
}

.pricing__price {
	display: flex;

	justify-content: center;
	align-items: baseline;

	margin-bottom: 16px;

	color: #fff;
	font-family: Inter;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 100% */
	text-transform: uppercase;

	@include medium {
		line-height: 16px; /* 100% */
	}
}

.pricing__price--highlighted {
	color: #ff1f1f;
	font-family: Inter;
	font-size: 67px;
	font-style: normal;
	font-weight: 600;
	line-height: 67px; /* 100% */
}

.pricing__discount {
	color: #fff;
	text-align: center;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 21px */

	margin-bottom: 24px;
	opacity: 0.8;
	@include medium {
		margin-bottom: 32px;

		font-size: 16px;
	}
}

.pricing__features {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	margin-bottom: 32px;

	@include desktop {
		margin-bottom: 40px;
		gap: 20px;
	}
}

.pricing__feature {
	display: flex;
	align-items: center;
	gap: 16px;

	color: #fff;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.3px;

	&::before {
		content: "";
		width: 24px;
		height: 24px;
		background-image: url("/src/images/pricing-images/pricing-list-icon.svg");
	}

	&::after {
		content: attr(data-mobile);
	}

	@include medium {
		font-size: 16px;
		letter-spacing: 0.32px;

		gap: 18px;
	}

	@include tablet {
		&::after {
			content: attr(data-tablet);
		}

		@include desktop {
			font-size: 18px;
			letter-spacing: 0.18px;
		}
	}

	@include large {
		font-size: 20px;
	}

	@include extra-large {
	}
}

.pricing__form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;

	@include tablet {
		gap: 0;

		flex-direction: row;
	}
}

.pricing__input {
	display: flex;
	padding: 15px 16px;
	align-items: center;
	gap: 10px;

	border-radius: 5px;
	border: 1px solid #d0d0d1;
	opacity: 0.9;
	background: #fff;

	&::placeholder {
		color: rgba(60, 60, 67, 0.6);
		font-feature-settings: "clig" off, "liga" off;
		font-family: Inter;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: 23px; /* 153.333% */
		letter-spacing: 0.15px;

		opacity: 0.9;
		@include medium {
			font-size: 17px;
		}

		@include tablet {
			font-size: 17px;
		}
		@include desktop {
			font-size: 18px;
		}
	}

	@include tablet {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		flex-grow: 1;
	}

	@include desktop {
		flex-grow: 0.85;
	}

	@include large {
		flex-grow: 0.6;
	}

	@include extra-large {
	}
}

.pricing__button {
	display: flex;
	padding: 16px 32px;
	justify-content: center;
	align-items: center;
	gap: 10px;

	border-radius: 5px;
	background: #ff1f1f;

	color: #fff;
	font-family: Inter;
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	@include medium {
		font-size: 18px;
	}

	@include tablet {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		font-size: 17px;

		font-weight: 500;
	}

	@include desktop {
		flex-grow: 0.15;
		font-size: 17px;
	}

	@include large {
		flex-grow: 0.4;
	}
	@include extra-large {
	}
}
